/* RESET AND GENERAL */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container {
  width: 480px;
  max-width: 80%;
  margin: 0 auto;
}


img {
  max-width: 100%;
}

.col {
  background-color: #b5ddff;
}

body {
  font-family: 'Roboto', sans-serif;
}

p {
  line-height: 28px;
}


/* MOBILE FIRST */

/* HEADER AND NAVBAR */

header {
  height: 70px;
  background-color: #0084fd;
}

header .container {
  height: 100%;
}

.menu {
  list-style: none;
  display: none;
}

.menu li {
  padding-right: 10px;
}

.menu li a {
  text-decoration: none;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  color: white;
  font-size: 1.5rem;
}

/* FEATURES SECTION */

.features {
  padding: 25px 0;
}

.features .col {
  padding: 25px 25px;
  border-radius: 20px;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}

.features .btn {
  background-color: #0084fd;
  padding: 15px 30px;
  border-radius: 999999px;
}

.features .col h2, .features .col p {
  margin-bottom: 25px;
}

.features .col p {
  text-align: left;
}

.features .btn a, .features .btn a i{
  color: white;
  padding: 0 10px;
  text-decoration: none;
  cursor: pointer;
}

.features .col img {
  height: 250px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
}

.features .row-1 .col:first-child {
  padding-bottom: 0;
}

.features h2, .features i {
  color: #0084fd;
}

.features i:not(.fa-apple) {
  font-size: 5rem;
  margin-bottom: 20px;
}

/* PLANNING SECTION */

.planning {
  padding: 35px 0;
}

.planning, .planning .col {
  background-color: #9792e4;
}

.planning .col:first-child {
  color: white;
  margin-bottom: 30px;
}

.planning .col:first-child h2 {
  margin-bottom: 30px;
  font-size: 2rem;
}

.planning .col:nth-child(2) {
  text-align: center;
  background-color: white;
  padding: 25px 15px;
  border-radius: 45px;
}

.planning .col:nth-child(2) h2, .planning .col:nth-child(2) p {
  margin-bottom: 20px;
}

.planning .col:nth-child(2) .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: #9792e4;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}




/* TESTIMONIALS SECTION */

.testimonials {
  padding: 50px 0;
}

.testimonials .col {
  background-color: #9792e4;
  text-align: center;
  padding: 30px 10px;
  margin-bottom: 30px;
  border-radius: 45px;
  color: white;
  font-size: 1.2rem;
}

.testimonials h2 {
  color: #9792e4;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

.testimonials h4 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 15px;
}

.testimonials p:not(.testimonial-name) {
  text-align: center;
  margin-bottom: 30px;
}



.testimonials .col img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
}




/* BENEFITS SECTION */

.benefits {
  background-color: #9792e4;
  padding: 50px 0;
}

.benefits .col {
  background-color: white;
  margin-bottom: 25px;
  padding: 35px 25px;
  border-radius: 15px;
}

.benefits h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
}

.benefits .col h2 {
  font-size: 3rem;
}

.benefits .col h4 {
  font-size: 1.8rem;
}

.benefits .col h2, .benefits .col h4 {
  color:#9792e4;
  margin-bottom: 20px;
}

.benefits .col p {
  margin-bottom: 25px;
  color: #969696;
}

.benefits .col .btn {
  background-color: #9792e4;
  padding: 8px 45px;
  border-radius: 99999px;
}

.benefits .col .btn a {
  text-decoration: none;
  color: white;
}




/* ABOUT US */

.about-us .col{
  background-color: white;
}

.about-us {
  padding: 50px 0;
}

.about-us h2 {
  color: #9792e4;
  font-size: 2.5rem;
  margin-bottom: 25px;
}

.about-us p:nth-child(2) {
  margin-bottom: 30px;
}

.about-us p:last-child {
  margin-bottom: 30px;
}


.about-us .img-container {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.about-us .fa-quote-left {
  font-size: 4rem;
  color: #9792e4;
  position: absolute;
  top: 0;
  right: 0;
}

.about-us .col img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.about-us .col h3 {
  color: #9792e4;
  font-size: 1.6rem;
  margin-bottom: 25px;
}

.about-us .col .btn {
  background-color: #9792e4;
  padding: 10px 15px;
  border-radius: 99999px;
}

.about-us .col .btn a {
  color: white;
  text-decoration: none;
}

.fa-linkedin {
  padding-right: 10px;
}


/* GET STARTED */

.get-started, .get-started .col {
  background-color: #9792e4;
  text-align: center;
}

.get-started {
  padding: 50px 0;
}

.get-started .col h5 {
  font-size: 1.2rem;
  color: #cbcaf1;
  margin-bottom: 25px;
}

.get-started .col h3 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 20px;
}

.get-started .col h2 {
  color: #fdc15f;
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.get-started .col p {
  color: white;
  margin-bottom: 45px;
}

.get-started .col .btn-white {
  background-color: white;
  padding: 15px 85px;
  border-radius: 99999px;
}

.btn-white a {
  text-decoration: none;
  color: #9792e4;
}

.copyright {
  display: block;
  margin-top: 40px;
  color: white;
}

.copyright a {
  color: white;
}

.copyright .fa-circle {
  font-size: .3rem;
  vertical-align: middle;
  padding: 0 5px;
}

/* FOOTER  */

footer {
  background-color: #333333;
  color: white;
  padding: 50px 0;
}

footer p {
  text-align: center;
  font-size: .9rem;
}

footer p:first-of-type {
  margin-bottom: 45px;
}

footer p:last-of-type a{
  color: #9792e4;
}





/* RESPONSIVE-TABLET */

@media (min-width: 810px) {
  

  /* FEATURES */

  .container {
    width: 810px;
    max-width: 90%;
  }

  .features {
    padding: 50px 0;
  }

  .features .row-1, .features .row-2 {
    display: flex;
    gap: 25px;
  }


  .features .row-1 .col {
    width: calc(100% / 3);
  }

  .features .row-1 .col:first-child {
    flex-grow: 2;
  }


  /* TESTIMONIALS */

  .testimonials .col {
    display: flex;
    align-items: center;
    padding: 30px 15px;
  }

  .testimonials .testimonials-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 0 20px;
  }

  /* BENEFITS */

  .benefits {
    padding: 60px 0;
  }

  .benefits h3 {
    font-size: 2.4rem;
  }

  .benefits .col {
    width: calc(50% - 25px);
    margin-bottom: 0;
  }

  .benefits .row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }

  /* ABOUT US */

  .about-us {
    padding: 100px 0;
  }

  .about-us .row-1 {
    display: flex;
  }

  .about-us .col {
    width: calc(100% / 3);
  }

  .about-us .row-1 .col:first-child {
    flex-grow: 2;
  }

  .about-us .row-1 .col:first-child p {
    padding-right: 80px;
  }

  /* GET STARTED */

  .get-started .container {
    max-width: 55%;
  }

  /* FOOTER */

  footer .container {
    max-width: 55%;
  }

}

/* DESKTOP */

@media (min-width: 1920px){

  .container {
    width: 1920px;
    max-width: 70%;
  }

  /* HEADER */

  nav .hamburger-menu {
    display: none;
  }

  nav .menu {
    display: flex;

  }

  nav .menu li a {
    text-decoration: none;
    color: white;
    padding: 0 10px;
  }

  nav .menu .btn {
    color: black;
    background-color: white;
    padding: 8px 15px;
    border-radius: 9999px;
  }

  /* PLANNING */

  .planning {
    padding: 70px 0;
  }

  .planning .row-2 {
    display: flex;
  }

  .planning .container {
    width: 60%;
  }

  .planning .row-2 .col:first-child {
    padding: 0 25px;
  }

  .planning .row-2 .col:nth-child(2) {
    align-self: flex-end;
  }


  /* TESTIMONIALS */

  .testimonials .row-1 .col p {
    text-align: left;
  }

  .testimonials.container {
    max-width: 1920px;
  }


  /* BENEFITS */

  .benefits .col {
    width: calc((100% / 3) - 25px);
    margin-bottom: 0;
  }
}